img {
  max-width: 80%;
  height: auto;
}


/* Animation for shopping finish */
@keyframes tilt {
  0% {
    transform: rotate(0deg); /* Start with no rotation */
  }
  20% {
    transform: rotate(5deg); /* Tilt to the right */
  }
  40% {
    transform: rotate(-5deg); /* Tilt to the left */
  }
  60% {
    transform: rotate(7deg); 
  }
  80% {
    transform: rotate(-7deg); 
  }
  100% {
    transform: rotate(0deg); 
  }
}

.tilting {
  animation-name: tilt; 
  animation-duration: 1s; 
  animation-timing-function: ease-in-out; 
  animation-iteration-count: 1; 
  transform-origin: bottom center;
}